#vis {
  overflow: hidden;
  position: relative;
}

.status-text {
  position: absolute;
  top: 80px;
  right: 80px;
}

#status {
  position: relative;
  display: inline-block;
  margin-right: 40px;
  margin-bottom: 15px;
}

#bubble-background {
  fill: none;
  pointer-events: all;
}

.bubble-node {
  /* fill: #d1e0f3; */
  fill: #BCBCBC;
}

.bubble-hover {
  /* fill: #b8c7d9; */
  // fill: #E8E9E7;
  fill: #3299BB;
}

.bubble-selected {
  /* fill: #a8c8ee;  */
  fill: #3299BB;
  /* stroke: #6081a3; */
  stroke: #424242;
  stroke-width: 1.5px;
}

.active {
  color: #A6BA92
}

a.bubble-label {
  font-family: 'Open Sans', san-serif;
  color: #424242;
  cursor: pointer;
  display: block;
  text-align: center;
  text-decoration: none;
  line-height: 1em;
  position: absolute;
}


.bubble-label .bubble-label-value {
  font: 11px sans-serif;
  white-space: nowrap;
}